# Internal presentations
**/*.drawio
**/*.drawio.bkp

# Mac OS files
.DS_Store
**/.DS_Store

# Paperwork folder
Paperwork/

# Internal presentations


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# R Environment Variables
.Renviron
