# Internal presentations
**/*.drawio
**/*.drawio.bkp

# Mac OS files
.DS_Store
**/.DS_Store

# Paperwork folder
Paperwork/

# Internal presentations
3.\ results/Presentations
3.\ results/a.\ Figures\ -\ exploratory\ data\ analysis\ -\ TO\ UPDATE
3.\ results/b.\ Figures\ -\ reproduce\ 2020
3.\ results/c.\ Figures\ -\ final/d.\ Tables
3.\ results/c.\ Figures\ -\ final/Figure_legends.docx
3.\ results/c.\ Figures\ -\ final/Tables.xlsx
3.\ results/d.\ Tables

# Raw data with comments and open-ended questions (available on demand)
1.\ raw

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# R Environment Variables
.Renviron
